<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feichai.order.mapper.OrderMapper">
    <select id="queryOrderInfoById" resultType="com.feichai.basejar.entities.Order">
		SELECT
			ID AS id,
			ORDER_ID AS orderId,
			ORDER_AMOUNT as orderAmount,
			USER_ID AS userId,
			CREATE_TIME AS createTime,
			UPDATE_TIME AS updateTime
		FROM
			feichai.order
		WHERE
			ID=#{id}
	</select>
</mapper>